* {
    margin: 10px;
    background-color: greenyellow;
}

#im{
    height: 200px;
    width: 200px;
    
}
#im1{
    height: 200px;
    width:400px;
}
.Cont{
    background-color: steelblue;
    font-size: 18px;
    border-style: groove;
    border-top: 5px;
    mask-border-width: 3px;
    border-radius: 5px;
    border-width: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}